# Dependencies
node_modules

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
build
dist

# Logs
*.log
npm-debug.log*

# Editor directories
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp